h1 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
}
button{
    height:auto;
    width:auto;
    margin: 4%;

}
#search {
    font-size: 35px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #FFFFFF;
}

main {
    background: #30008F;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;


}
div{
    justify-content: center;
    display:flex;
    width:100%;
    height:auto;
}

figure {
    border: 20px solid ;
    border-color: #5200F5;
    margin: 50px;
    padding: 20px;
    width: 15%;
    background: white;
}



figure img {
    width: 100%;
    height: auto;

}

body {
    background-image: url("/Drinkki.jpg");
    background-size: 100%;
    background-repeat: repeat-x;
    background-color: #1B0052;
}



#hakuteksti {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    max-width: 20%;
    height: auto;
}
#hakunappi {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    width: auto;
    margin: 0;
}
#random {
    text-align:  center;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    width: auto;
    padding-left: 10px;
    margin: 0;
}
p{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}
h2{
    font-family: 'Quicksand', sans-serif;

}
h3{
    font-family: 'Quicksand', sans-serif;
    width: auto;
}
li{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}
