h1 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
}
#search {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #FFFFFF;
}

main {
    opacity: 1;
    background: #1D3272;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;


}
div{
    justify-content: center;
    display:flex;
    width:100%;
    height:auto;
}

figure {
    border: 20px solid ;
    border-color: #2191FB;
    margin: 50px;
    padding: 20px;
    max-width: 15%;
    background: white;
}



figure img {
    width: 100%;
    height: auto;

}

body {
    background-image: url("/img/Drinkki.jpg");
    background-size: cover;
}



#hakuteksti {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    width: auto;
}
#hakunappi {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    width: auto;
}
#random {
    text-align:  center;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    width: auto;
    padding-left: 10px;
}
p{
    font-family: 'Quicksand', sans-serif;
}
h2{
    font-family: 'Quicksand', sans-serif;
}
h3{
    font-family: 'Quicksand', sans-serif;
}
li{
    font-family: 'Quicksand', sans-serif;
}

